---
layout: default
title: Taking Note

bootstrap: true
angular: true
epic_editor: true
showdown: true
font_awesome: true

css:
- styles.css
---
<div id="content" ng-controller="NoteController">

    <nav id="navigation" ng-class="{expand: sidebarActive}">
        <div class="list-group">
            <a ng-click="createNote('New Note')">Create Note</a>
            <a class="list-group-item file" ng-repeat="note in notes" ng-click="openNote(note)">
                <h4 ng-bind="note.get('name')"></h4>
            </a>
            <a class="list-group-item file"></a>
            <a class="list-group-item file"></a>
            <a class="list-group-item file"></a>
            <a class="list-group-item file"></a>
            <a class="list-group-item file"></a>
            <a class="list-group-item file"></a>
            <a class="list-group-item file"></a>
            <a class="list-group-item file"></a>
            <a class="list-group-item file"></a>
            <a class="list-group-item file"></a>
            <a class="list-group-item file"></a>
            <a class="list-group-item file"></a>
            <a class="list-group-item file"></a>
            <a class="list-group-item file"></a>
            <a class="list-group-item file"></a>
            <a class="list-group-item file"></a>
            <a class="list-group-item file"></a>
            <a class="list-group-item file"></a>
            <a class="list-group-item file"></a>
        </div>
    </nav>


    <div id="page-wrap" ng-class="{compress: sidebarActive}">
        <markdown note="current.note"></markdown>
    </div>

</div>
