.md-preview {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    padding: 30px;
    background-color: inherit;
}

.md-preview > *:first-child {
  margin-top: 0 !important; }
.md-preview > *:last-child {
  margin-bottom: 0 !important; }

.md-preview a {
  color: #4183C4; }
.md-preview a.absent {
  color: #cc0000; }
.md-preview a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; }

.md-preview h1, .md-preview h2, .md-preview h3, .md-preview h4, .md-preview h5, .md-preview h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative; }

.md-preview h1:hover a.anchor, .md-preview h2:hover a.anchor, .md-preview h3:hover a.anchor, .md-preview h4:hover a.anchor, .md-preview h5:hover a.anchor, .md-preview h6:hover a.anchor {
  /*background: url("../../images/modules/styleguide/para.png") no-repeat 10px center;*/
  text-decoration: none; }

.md-preview h1 tt, .md-preview h1 code {
  font-size: inherit; }

.md-preview h2 tt, .md-preview h2 code {
  font-size: inherit; }

.md-preview h3 tt, .md-preview h3 code {
  font-size: inherit; }

.md-preview h4 tt, .md-preview h4 code {
  font-size: inherit; }

.md-preview h5 tt, .md-preview h5 code {
  font-size: inherit; }

.md-preview h6 tt, .md-preview h6 code {
  font-size: inherit; }

.md-preview h1 {
  font-size: 28px;
  color: black; }

.md-preview h2 {
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
  color: black; }

.md-preview h3 {
  font-size: 18px; }

.md-preview h4 {
  font-size: 16px; }

.md-preview h5 {
  font-size: 14px; }

.md-preview h6 {
  color: #777777;
  font-size: 14px; }

.md-preview p, .md-preview blockquote, .md-preview ul, .md-preview ol, .md-preview dl, .md-preview li, .md-preview table, .md-preview pre {
  margin: 15px 0; }

.md-preview hr {
  /*background: transparent url("../../images/modules/pulls/dirty-shade.png") repeat-x 0 0;*/
  border: 0 none;
  color: #cccccc;
  height: 4px;
  padding: 0; }

.md-preview > h2:first-child {
  margin-top: 0;
  padding-top: 0; }
.md-preview > h1:first-child {
  margin-top: 0;
  padding-top: 0; }
  .md-preview > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0; }
.md-preview > h3:first-child, .md-preview > h4:first-child, .md-preview > h5:first-child, .md-preview > h6:first-child {
  margin-top: 0;
  padding-top: 0; }

.md-preview a:first-child h1, .md-preview a:first-child h2, .md-preview a:first-child h3, .md-preview a:first-child h4, .md-preview a:first-child h5, .md-preview a:first-child h6 {
  margin-top: 0;
  padding-top: 0; }

.md-preview h1 p, .md-preview h2 p, .md-preview h3 p, .md-preview h4 p, .md-preview h5 p, .md-preview h6 p {
  margin-top: 0; }

.md-preview li p.first {
  display: inline-block; }

.md-preview ul, .md-preview ol {
  padding-left: 30px; }

.md-preview ul :first-child, .md-preview ol :first-child {
  margin-top: 0; }

.md-preview ul :last-child, .md-preview ol :last-child {
  margin-bottom: 0; }

.md-preview dl {
  padding: 0; }
  .md-preview dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px; }
    .md-preview dl dt:first-child {
      padding: 0; }
    .md-preview dl dt > :first-child {
      margin-top: 0; }
    .md-preview dl dt > :last-child {
      margin-bottom: 0; }
  .md-preview dl dd {
    margin: 0 0 15px;
    padding: 0 15px; }
    .md-preview dl dd > :first-child {
      margin-top: 0; }
    .md-preview dl dd > :last-child {
      margin-bottom: 0; }

.md-preview blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777; }
  blockquote > :first-child {
    margin-top: 0; }
  blockquote > :last-child {
    margin-bottom: 0; }

.md-preview table {
  padding: 0; }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }

.md-preview img {
  max-width: 100%; }

.md-preview span.frame {
  display: block;
  overflow: hidden; }
  .md-preview span.frame > span {
    border: 1px solid #dddddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto; }
  .md-preview span.frame span img {
    display: block;
    float: left; }
  .md-preview span.frame span span {
    clear: both;
    color: #333333;
    display: block;
    padding: 5px 0 0; }
.md-preview span.align-center {
  display: block;
  overflow: hidden;
  clear: both; }
  .md-preview span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center; }
  .md-preview span.align-center span img {
    margin: 0 auto;
    text-align: center; }
.md-preview span.align-right {
  display: block;
  overflow: hidden;
  clear: both; }
  .md-preview span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right; }
  .md-preview span.align-right span img {
    margin: 0;
    text-align: right; }
.md-preview span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left; }
  span.float-left span {
    margin: 13px 0 0; }
.md-preview span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right; }
  .md-preview span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right; }

.md-preview code, .md-preview tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px; }

.md-preview pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent; }

.md-preview .highlight pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }

.md-preview pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }
  .md-preview pre code, .md-preview pre tt {
    background-color: transparent;
    border: none; }
