html, body {
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}

body {
    background-color: #C63D0F;
}

.landing {
    position: absolute;
    top: 15%;
    width: 100%;
    text-align: center;
    background-color: #FDF3E7;
    padding: 75px 0;
}

.landing h1 {
    color: #3B3738;
    font-weight: 800;
    font-size: 100px;
    font-family: 'Lato', sans-serif;
    white-space: nowrap;
    /*text-shadow: 2px 2px #333333;*/
}

.landing h3 {
    color: #3B3738;
    font-family: 'Lato', sans-serif;
    letter-spacing: 5px;
    font-weight: 400;
    white-space: nowrap;
}

.landing .btn {
    margin-top: 20px;
    padding: 20px 100px;
    border-radius: 0;
    background-color: #3B3738;
    font-size: 20px;
    color: #FDF3E7;
}

.references {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
}

.references h5 {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    display: inline;
    font-weight: 600;
}

.references img {
    height: 80px;
}

@media screen and (min-width: 768px) and (max-width: 979px) {
  /* line 99, ../_sass/blog.sass */
  .landing h1 {
    font-size: 70px;
  }
}
@media (max-width: 767px) {
  /* line 105, ../_sass/blog.sass */
  .landing h1 {
    font-size: 60px;
  }
}
@media screen and (min-width: 481px) and (max-width: 649px) {
  /* line 109, ../_sass/blog.sass */
  .landing h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 480px) {
  /* line 113, ../_sass/blog.sass */
  .landing h1 {
    font-size: 50px;
  }
}