body, html {
    width: 100%;
    height: 100%;
}

#content {
    width: 100%;
    height: 100%;
    background-color: #FDF3E7;
    overflow: hidden;
}

#navigation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    background-color: #C63D0F;

    /* Start Collapsed */
    width: 0;
}

#navigation.expand {
    width: 15%;
    /*min-width: 150px;*/
}

#page-wrap {
    height: 100%;
    width: 100%;
    float: right;
}

#page-wrap.compress {
    width: 85%;
}


/*Sidebar*/
#navigation .list-group {

}

#navigation .list-group .list-group-item.file {
    background-color: transparent;
    border-radius: 0;
    height: 60px;
    /*border: 0;*/
    cursor: pointer;
    border: 1px solid #a7390f;
    margin: 10px 10px;
}

#navigation .list-group .list-group-item.file:hover {
    background-color: #a7390f;
}

#navigation .list-group .list-group-item.file h4 {
    color: #FDF3E7;
}

/*Markdown*/
.md {
    position: relative;
    top: 5%;
    margin: 0 30px;
    padding: 50px;
    background-color: #ffffff;
    height: 90%;
    border: 1px solid #3B3738;
    overflow-y: auto;
    border-radius: 5px;
}

.md .md-controls {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    padding: 10px;
}

.md:hover .md-controls {
    display: block;
}

.md-editor {
    height: 100%;
    width: 100%;
    resize: none;
    overflow: auto;
}